{:crux {:crux/db-spec
        {:dbname "OVERRIDE ME"
         :dbtype "postgresql"}}
 :crux-and-friends {:crux/and/friends/db-spec
                    {:dbname "OVERRIDE ME"
                     :dbtype "postgresql"}}}
